<!doctype html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Notes</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css"
            crossorigin="anonymous">
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
            {{> _navbar}}
      <div class="container">
            {{> _msg}}
            {{> _errors}}
            {{{body}}}
      </div>

      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
</body>

</html>