.logo {
    width: 130px;
    margin: auto;
}


/*icon rotate navbar logo */

.log {
    width: 50px;
    /*  padding: 5px;*/
    /*border-radius: 50%;*/
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.log:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.logi-home:hover {
    color: #fff;
    text-shadow: 0 0 100px, 0 0 100px #666, 0 0 100px #666, 0 0 100px #666, 0 0 100px #666, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000;
    /*transition*/
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 2.5s ease-in-out infinite alternate;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}