
<div class="card card-body">
    <h3>Website Idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>

        <div class="form-group">
            <label for="title">Details</label>
            <textarea type="text" class="form-control" name="details"required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>